/ConsoleHellloWorld/nbproject/private/
/ConsoleHellloWorld/build/
/02consoleMultiplicationTables/nbproject/private/
/02consoleMultiplicationTables/build/
/WS05/AntSimulator/nbproject/private/
/WS06/FileManager/nbproject/private/
/WS06/FileManager/build/
/WS06/FileManager/dist/
